@import "mixins";

.navbar {
  background-color: $bg-primary !important;
}


//carousel
.carousel {
  width: 100%;
  position: relative;
  overflow: hidden;
  max-height: 600px;

  img {
    width: 100%;
    object-fit: contain;
  }
}


//cta
.cta_container {
  background-color: $bg-primary;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem;
  }

  .button_register {
    background-color: $bg-secondary !important;
    padding: 1rem 5rem;
    border-radius: 5px;
    font-weight: 600;
    font-size: 1.1em;
    margin-bottom: 2rem;
    transition: .3s ease;

    &:hover {
      background-color: darken($bg-secondary, 10%) !important;
    }
  }

  p {
    font-size: 1em;
    font-weight: 500;
    text-align: center;
    margin-bottom: 2rem;
  }

  .button_call {
    background-color: darken($bg-success, 10%) !important;
    font-size: .9em;
    font-weight: 500;
    border-radius: 20px 5px 20px 5px;
    padding: 8px 3rem;
    position: relative;
    transition: .3s ease;
    overflow: hidden;

    &:before {
      content: "Call Us Now";
      pointer-events: none;
      background-color: rgba($bg-success, 1);
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 75%;
      border-radius: 25px 5px 25px 5px;
      height: 100%;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: .3s ease;
    }

    &:hover {
      &:before {
        width: 110%;
      }
    }

  }
}

//product
.product {
  background-color: $light;
  min-height: 200px;
  padding: 4rem;

  .container {
    .title {
      text-align: center;
      font-weight: 600;
      color: $dark;
      font-size: 2rem;
    }

    .product_item {
      margin-top: 4rem;

      .name {
        font-weight: 600;
        font-size: 1.3rem;
        color: darken($dark, 10%);
        margin-bottom: .5rem;
      }

      .description {
        font-weight: 400;
        font-size: 1rem;
        color: $dark;
      }
    }
  }
}


//footer
.footer {
  background-color: $bg-primary;
  padding: 2rem;

  .container {

    .social_icons {
      display: grid;
      grid-template-columns: repeat(5, 30px);
      gap: 10px;
      cursor: pointer;

      a {
        .icon {
          color: white;
          font-size: 1.5rem;
        }
      }
    }
  }
}

.links{
  a{
    display: inline-block;
    text-decoration: none;
    &:hover {
      color: darken($light, 10%);
    }
  }

  .link_col{
    display: flex;
    flex-direction: column;
  }
}
